body {
  font-family: monospace;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 16px;
}

h1 {
  font-size: 2em;
  line-height: 1.3em;
  padding: 0;
  margin: 0;
  color: #444;
}

h2 {
  font-size: 1.6em;
  color: #736363;
  font-weight: normal;
  margin: 0 0 1em;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: #424141;
  font-weight: bold;

  &:hover {
    color: lightpink;
    text-decoration: none;
  }
}

.list {
  &.separate-items > div {
    margin-top: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid lightpink;

    &:last-child {
      border-bottom: 0;
    }
  }

  &.bullets > div .title:before {
    content: "- ";
  }
}

.box {
  margin: 1em 0;
  padding: 1em 1em;
  background-color: rgb(250 242 242 / 65%);
  border-radius: 10px;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.contact {
  img {
    border-radius: 10px;
    border: 2px solid white;
  }

  .item {
    line-height: 2.2em;
  }
}

#background {
  width: 100%;
  height: 100%;
  top: 5%;
  left: -20%;
  z-index: -100;
  background-size: cover;
  position: fixed;

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }

  &.fade-in {
    visibility: visible;
    opacity: 1;
    animation: fadeIn 1s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cv-item {
  .place {
    color: #423b3b;
    font-size: 1.2em;
    font-weight: bold;
  }

  .when {
    float: right;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.7);
  }

  .role {
    margin-top: 0.2em;
    font-weight: bold;
  }

  .description {
    margin-top: 1em;
  }
}

.ability {
  .title {
    font-weight: bold;
  }
}

.column {
  float: left;
  margin-top: 40px;
}
.column.contact {
  margin-left: 10%;
}
.column.details {
  width: 520px;
  margin-left: 20px;
}

.narrow {
  h1 {
    float: left;
    color: #424141;
    font-size: 1.4em;
  }

  .column {
    float: none;
    margin: 0;
  }

  .column.contact {
    padding: 1em;
    .box {
      padding: 0;
    }
    img {
      float: right;
    }
  }

  .column.details {
    width: 100%;
  }

  #background {
    left: 0;
  }
}

@media print {
  #background {
    display: none;
  }

  html {
    font-size: 14px;
  }

  .column.details {
    width: 930px;
  }
}
