body {
  font-family: Courier, monospace;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 16px;
}

h1 {
  padding: 0 0 0 1rem;
  font-size: 2em;
  line-height: 1.3em;
  margin: 0;
  color: #444;
}

.summary {
  font-size: 1.1em;
}

h2 {
  font-size: 1.6em;
  color: #736363;
  font-weight: normal;
  margin: 0 0 1em;
}

p {
  margin: 0 0 0.6em;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #424141;
  font-weight: bold;

  &:hover {
    color: lightpink;
    text-decoration: none;
  }
}

.list {
  &.separate-items > div {
    margin-bottom: 1.8em;
    padding-top: 1.8em;
    border-top: 1px solid lightpink;

    &:first-child {
      border-top: 0;
      padding-top: 0;
    }
  }

  &.bullets > div {
    margin-bottom: 2em;

    .title:before {
      content: "- ";
    }
  }
}

.box {
  margin: 1em 0;
  padding: 1em 1em;
  background-color: rgb(250 242 242 / 65%);
  border-radius: 10px;

  &:first-child {
    margin-top: 0;
  }
}

.contact {
  img {
    border-radius: 10px;
    border: 2px solid white;
  }

  .item {
    line-height: 2.2em;
  }

  .box {
    margin-top: 1em;
    font-size: 15px;
  }
}

#background {
  width: 130%;
  height: 160%;
  top: -10%;
  left: -30%;
  z-index: -100;
  background-size: cover;
  position: fixed;

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }

  &.fade-in {
    visibility: visible;
    opacity: 1;
    animation: fadeIn 1s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cv-item {
  .place {
    color: #423b3b;
    font-size: 1.2em;
    font-weight: bold;
  }

  .where {
    font-size: 0.8em;
    &:before {
      content: ", ";
    }
  }

  .subtitle {
    margin-bottom: 1em;
  }

  .when {
    float: right;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.7);
  }

  .role {
    margin-top: 0.2em;
    font-weight: bold;
  }

  .description {
    margin-top: 1em;
  }
}

.tech {
  .item {
    margin-top: 10px;
    .title {
      font-weight: bold;
    }
  }
}

.column {
  float: left;
  margin-top: 40px;
}
.column.contact {
  margin-left: 10%;
}
.column.details {
  width: 520px;
  margin-left: 20px;
}

.narrow {
  .column {
    float: none;
    margin: 0;
    padding: 1em 1em 0;
  }

  .column.contact {
    img {
      vertical-align: middle;
    }

    h1 {
      display: inline-block;
      color: #424141;
      font-size: 1.4em;
      margin-left: 5%;
    }
  }

  .column.details {
    width: auto;
  }

  #background {
    height: 100%;
    width: 160%;
  }
}

@media print {
  @page {
    margin: 26mm 28mm;
  }

  .dont-print {
    display: none;
  }

  body {
    font-size: 14px;
  }

  h1 {
    position: absolute;
    top: 0;
    padding: 0;
  }

  .cv-item {
    break-inside: avoid;
  }

  .column {
    float: none;
    margin: 0;
    padding: 0;

    .box {
      padding-left: 0;
      padding-right: 0;
    }

    .summary {
      padding-top: 0;
      margin-bottom: 10px;
    }
  }

  .column.contact {
    margin: 0;

    .box {
      margin-top: 30px;
      margin-bottom: 0;

      .item {
        margin: 0;
        font-size: 0.8em;
        display: inline-block;

        a {
          font-weight: normal;
        }

        &:after {
          margin-left: 0.6em;
          margin-right: 0.6em;
          content: "·";
        }

        &:last-child:after {
          content: "";
          margin: 0;
        }
      }
    }

    img {
      position: absolute;
      right: 0;
      top: 5px;
      width: 60px;
      height: 60px;
    }
  }

  .column.details {
    font-size: 0.8rem;
    margin: 0;
    width: auto;

    .summary {
      margin: 0;
      //text-align-last: justify;
    }
  }
}
